<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" type="text/css" src="./index.css">
</head>

<body>
    <div class="title">
        <h1>
            C CODE WAS EXECUTED!
        </h1>
    </div>
    <div class="sub-title">
        <h2>
            it printed: {{ result }}
        </h2>
    </div>
</body>

</html>
